<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('include/header') %>
  </head>
  <body>
    <%- include('include/navbar') %>

    <!-- Login -->
    <div class="container col-md-4" style="padding-top: 7rem">
      <div class="card shadow rounded-3 w-100">
        <div class="card-body">
          <form action="/login" method="post">
            <h2 class="text-center card-title mb-2">Login</h2>
            <div class="mb-3">
              <label for="username" class="form-label ms-2">Username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                id="username"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
              />
            </div>
            <button
              type="submit"
              class="btn text-white w-100"
              style="background-color: #1976d2"
              onmouseover="this.style.backgroundColor='#1360ad'"
              onmouseout="this.style.backgroundColor='#1976d2'"
              value="Submit"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>

    <%- include('include/sweetalert') %>
  </body>
</html>
