<!-- Navigation Bar -->
<nav
  class="navbar navbar-expand-lg navbar-top fixed-top"
  style="background-color: #1976d2"
>
  <div class="container-fluid ps-0">
    <a href="" class="navbar-brand">
      <div class="d-flex align-items-start">
        <img
          src="/dhruv.png"
          alt="Dhruv"
          class="img-fluid rounded-circle my-auto ms-3"
          width="50"
        />
        <div class="flex-column ms-3">
          <div class="text-white fs-5">DHRUV, IT Engineer</div>
          <div class="text-white">
            125/1, Sector-3/New, Gandhinagar, Gujarat
          </div>
        </div>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-5 ms-auto mb-lg-0">
        <li></li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
